<html>
{{> header}}
<script>


</script>

<body>

<div class="container">
    <form action="search" method="post">
        <div class="form-group row has-success">
            <label for="search">Search</label>
            <div class="input-group">
                <input type="text" name="search" class="form-control" id="searchText" aria-describedby="basic-addon3">
            </div>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <div id="dummy">
        {{#results}}
            <li>{{id}} <a href={{slug}}>{{subtitle}}</a></li>

        {{/results}}
    </div>
</div>
</body>
<footer>

</footer>
</html>